html {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.row {
    width: 100%;
}

.navbar {
    padding-left: 1%;
    padding-right: 1%;
}

.navbar select {
    height: calc(2.25rem + 10px);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 5px;
}

.navbar input {
    height: calc(2.25rem + 10px);
    font-size: 1.25rem;
    line-height: 1.5;
}

select:hover {
    cursor: pointer;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 10px);
    font-size: 1.25rem;
    line-height: 1.5;
}

.btn {
    height: calc(2.25rem + 10px);
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
}

.btn:hover {
    background-color: #e9ecef !important;
    cursor: default;
    color: #81878c;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar .row div.btn-block {
    padding-left: 5px;
}

.navbar .row div {
    padding: 0;
}

.btn:hover {
    background-color: #007bff !important;
    color: white
}

.card-create .btn:hover {
    background-color: #28a745 !important;
    color: white
}

.cards {
    margin-top: 115px;
}

.card {
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, .125);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.card.hide {
    display: none;
}

.card .card-body {
    height: 3rem;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.25rem;
    line-height: 3rem;
    padding: 0;
    margin: 0;
}

.card.edit .card-body {
    height: auto;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    padding-left: 1%;
    padding-right: 1%;
}

.card:hover {
    background-color: #007bff !important;
    color: white
}

.card-create:hover {
    background-color: #28a745 !important;
    color: white;
}

.card.disabled {
    background-color: #e9ecef !important;
    border-color: #e9ecef !important;
    cursor: default;
    color: #212529;
}

.card.disabled:hover {
    background-color: #e9ecef !important;
    border-color: #e9ecef !important;
    cursor: default;
}

.card.disabled .btn:hover {
    background-color: #e9ecef !important;
    cursor: default;
    color: #212529;
}

.card-create .btn {
    background-color: #e9ecef !important;
    cursor: default;
}

.alert {
    z-index: 100;
    position: absolute;
    top: 5%;
    opacity: 0.7;
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.alert.active {
    display: inline-block;
}

.card-create .card-header {
    padding: .2rem;
}

.card-create input {
    height: calc(2.25rem + 10px);
    font-size: 1.25rem;
    line-height: 1.5;
}

.card-create.disabled input {
    height: calc(2.25rem + 10px);
    font-size: 1.25rem;
    line-height: 1.5;
}

.card .card-body {
    height: auto;
    padding: .2rem;
}

.loading {
    display: block;
    position: fixed;
    margin-top: 112px;
    width: 100%;
    z-index: 99;
    opacity: 1;
    transition: opacity 0s, opacity 0.5s linear;
}

.loading.hide {
    opacity: 0;
}

.loading .progress {
    height: 15px;
    border-radius: 0;
    padding: 0;
}

@media all and (max-width: 1280px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media all and (max-width: 1100px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media all and (max-width: 710px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media all and (max-width: 640px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media all and (max-width: 340px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}